[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
protobuf = "*"
ipykernel = "*"

[dev-packages]
pytest = "*"
coverage = "*"
sphinx = "*"
nbsphinx = "*"
itikz = "*"

[dev-packages.mypy]
version = "*"
python_version = ">='3.5'"

[dev-packages.numpy-stubs]
git = "https://github.com/numpy/numpy-stubs.git"
editable = true
